setuptools
safetensors
flask
flask_socketio
flask_cors
gdown
requests==2.25.1
torchsde==0.2.5
albumentations==0.4.3
opencv-python
opencv-python-headless
pudb==2019.2
imageio==2.9.0
imageio-ffmpeg==0.4.2
pytorch-lightning==1.7.7
omegaconf==2.1.1
test-tube>=0.7.5
streamlit>=0c.73.1
einops==0.3.0
torch-fidelity==0.3.0
transformers==4.19.2
torchmetrics==0.7.0
kornia==0.6
accelerate==0.12.0
pynvml==11.4.1
basicsr>=1.4.2
facexlib>=0.2.5
pillow==9.0.0
more-itertools>=8.0.0
jsonmerge
pyyaml
clean-fid
scikit-image 
torchdiffeq
realesrgan
gfpgan
lpips
lark
ftfy
regex
resize-right
open-clip-torch